# flyctl launch added from .gitignore
**/﻿###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
public/bundles
var
vendor
###< symfony/framework-bundle ###
# Symfony Secrets
config/secrets/*/*.decrypt.private.php

**/.idea
**/.vscode

# flyctl launch added from vendor/psr/container/.gitignore
vendor/psr/container/**/composer.lock
vendor/psr/container/**/composer.phar
vendor/psr/container/vendor

# flyctl launch added from vendor/psr/event-dispatcher/.gitignore
vendor/psr/event-dispatcher/vendor
vendor/psr/event-dispatcher/**/composer.lock
fly.toml


